@font-face {
  font-family: 'MyFont';
  src: url('./DINCOND-BOLD.OTF');
  font-weight: 600;
  font-style: normal;
}
.hello{
  color: red;
  font-family: 'MyFont';
  /* background: url('./img.jpg') no-repeat; */
}